.wzpa-left-thumbs {
    --wzpa-font-family: inherit;
    --wzpa-margin: 0;
    --wzpa-min-column-width: 96px;
    --wzpa-max-column-width: 1fr;
    --wzpa-grid-gap: 10px;
    --wzpa-li-border-color: inherit;
    --wzpa-li-background-color: inherit;
    --wzpa-li-border-radius: 10px;
    --wzpa-li-font-size: 1rem;
    --wzpa-li-hover-color: #e0e0e0;
    --wzpa-li-hover-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --wzpa-link-color: #333333;
    --wzpa-link-hover-color: #000000;
    --wzpa-author-img-radius: 50%;
}

.wzpa_authors.wzpa-left-thumbs {
    font-family: var(--wzpa-font-family);
    margin: var(--wzpa-margin);
    container: wzpaLeftThumbs / inline-size;
}

.wzpa_authors.wzpa-left-thumbs ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--wzpa-min-column-width), var(--wzpa-max-column-width)));
    grid-gap: var(--wzpa-grid-gap);
    grid-auto-rows: 1fr;
    list-style: none;
    padding: 0;
}

.wzpa_authors.wzpa-left-thumbs li {
    display: flex;
    border: 1px solid var(--wzpa-li-border-color);
    padding: 10px;
    border-radius: var(--wzpa-li-border-radius);
    background-color: var(--wzpa-li-background-color);
    font-size: var(--wzpa-li-font-size);
    align-items: start;
    justify-content: start;
}

.wzpa_authors.wzpa-left-thumbs li:hover {
    background-color: var(--wzpa-li-hover-color);
    box-shadow: var(--wzpa-li-hover-shadow);
}

.wzpa_authors.wzpa-left-thumbs a {
    color: var(--wzpa-link-color);
    text-decoration: none;
    font-weight: bold;
}

.wzpa_authors.wzpa-left-thumbs a:hover {
    color: var(--wzpa-link-hover-color);
}

.wzpa_authors.wzpa-left-thumbs img {
    align-self: center;
    border-radius: var(--wzpa-author-img-radius);
}

@container wzpaLeftThumbs (width < 400px) {
    .wzpa_authors.wzpa-left-thumbs li {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@container wzpaLeftThumbs (width >=400px) {
    .wzpa_authors.wzpa-left-thumbs ul {
        grid-template-columns: repeat(auto-fit, minmax(var(--wzpa-min-column-width), max-content));
    }

    .wzpa_authors.wzpa-left-thumbs li {
        flex-direction: row;
    }
}